div [
    class='marko-floating-button'
    style='background-color: ${data.backgroundColor};'
    w-onClick='handleClick'
    w-bind
]
    div [
        class='marko-floating-icon-container'
        style='color: ${data.iconColor};'
        w-body=data.icon
    ]
    p [
        if(data.label)
        class=['marko-floating-label', data.showLabel ? 'visible' : 'not-visible']
    ]
        - ${data.label}
