<!DOCTYPE html>
lasso-page package-path='./browser.json'
html lang='en'
    head
        meta charset='UTF-8'
        meta name="viewport" content="width=device-width"
        title
            - Marko Floating Action Button Demo
        link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
        lasso-head
    body
        marko-app-floating-action-button-demo
        init-widgets
        browser-refresh enabled='true'
        lasso-body
